@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(0 1 255 / 40%);
   
}
html{
    scroll-behavior: smooth;
}

a,
.btn{
    transition: all 300ms ease;
}

p{
    color: rgb(85, 85, 85);
}

nav,
.nav-link {
display: flex;
}

nav{
    align-items: center;
    justify-content: space-around;
    height: 17vh;

}

a:hover{
    color: rgb(154, 140, 140);
    text-decoration: underline ;
    text-underline-offset: .5rem;
    text-decoration-color: rgb(182, 181, 181);
}

.nav-link {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

.logo {
   
   font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

#ham{
    display: none;
}

.ham-menu{
    position: relative;
    display: inline-block;
}

.ham-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.ham-icon span{
    width: 100%;
    height: 1px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-link{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    max-height: 0%;
    overflow: hidden;
    transition: all 0.3 ease-in-out;

}

.menu-link a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-link li{
list-style: none;
}

.menu-link.open{
    max-height: 300px;
}

.ham-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.ham-icon.open span:nth-child(2){
    opacity: 0;
}
.ham-icon.open span:last-child{
    transform: rotate(-45deg) translate(11px, -6px);
}

.ham-icon span:first-child{
    transform: none;
}
.ham-icon span:nth-child(2){
    opacity: 1;
}
.ham-icon span:last-child{
    transform: none;
}


section{
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.sec-c{
    display: flex;

}

#profile{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}
.s-p-c{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.sec-text{
    align-self: center;
    text-align: center;
    
}

.sec-text p{
    font-weight: 600;
}

.sec-t-p1{
    text-align: center;
}
.sec-t-p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;

}
.title{
    font-size: 3rem;
    text-align: center;
}

.social{
    display: flex;
    justify-self: center;
    margin-top: 1rem;
    gap: 1rem;
    
}

.icon{
    cursor: pointer;
    height: 2rem;
}

.icon-2{
    cursor: pointer;
    height: 1.5rem;
    
}


.btn-c{
    display: flex;
    justify-content: center;
    gap: 1rem;
    
}

.btn{
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-c1, 
.btn-c2{
    border: rgb(53, 53, 53) 0.1rem solid;
}
.btn-c1:hover, 
.btn-c2:hover{
cursor: pointer;

}

.btn-c1, 
.btn-c2:hover{
    background-color: rgb(53, 53, 53);
    color: white;
}

.btn-c1:hover{
    background: black;
}

.btn-c2{
    background: none;
}
.btn-c2:hover{
    border: rgb(255, 255, 255) 0.1rem solid;
}
.btn{
    gap: 1rem;
}


#about-me{
 position: relative;
}
.a-c{
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
   
}

.a-d-c{
justify-content: center;
flex-direction: column;
}

.a-c, 
.a-d-c{
    display: flex;
}

.a-p{
    border-radius: 2rem;
}

.arrow{
position: absolute;
right: -5rem;
bottom: 2.5rem;
}

.d-c{
    padding: 1.5rem;
    flex: 1rem;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;

}

.sec-c {
    gap: 4rem;
    height: 80%;
    
}

.s-p-c{
    height: 400px;
    width: 400px;
    margin:auto 0;
}

#exp{
    position: relative;
}
.e-s-t{
 color: rgb(85, 85, 85);
 font-weight: 600;
 font-size: 1.75rem;
 margin-bottom: 2rem;
}

.e-d-c{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ar-c{
    display: flex;
    padding: 2rem;
    flex-wrap: wrap; 
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;

}

article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}

#projects{
    position: relative;
}

.c-c{
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250)
}

.p-i{
    border-radius: 2rem;
    width: 50%;
    height: 90%;
}

.p-t{
    margin: 1rem;
    color: black;
}

.p-b{
    color: black;
    border-color: rgb(163, 163, 163);
}

#contact{
    position: relative;
}
.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: (250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
  }
.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .contact-info-container p {
    font-size: larger;
  }
  
  .contact-icon {
    cursor: default;
  }
  
  .email-icon {
    height: 2.5rem;
  }
footer{
    height: 26vh;
    margin: 0% 1rem;
    position: relative;
}

footer p{
    text-align: center;
}